* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


img {
	margin-left: 2em;
	width: 350px;
	margin-right: 2em;
}

.footer {
	margin-top: 100px;
	padding-top: 50px;
}
h1 {
	text-align: center;
}
p {
	padding: 2em;
}
.phone a {
	text-decoration: none;
	color: white;
}
.phone a:hover {
	color: green;
}
@media (min-width: 500px) {
	img {
		height: 450px;
		width: 85%;
		
	}
}