/* Page container styles */ 
.page-container { 
    display: flex; 
    justify-content: center;
} 

.page-container > .content-wrapper { 
    width: 1000px;
} 
 
.page-container > .content-wrapper #chef { 
    width: 350px; 
    margin: 23px 40px 20px 0px;;  
    float: left; 
    border: 3px solid #cea135;
} 

.page-container > .content-wrapper p { 
    letter-spacing: 1px; 
    line-height: 30px;
	margin-left: 1.5em;
} 
/*-----------------------------figure out how to make mobile friendly----
@media (min-width: 769px) {
	.squares-wrapper {
		display: flex;
		grid-template-columns: 1fr;
		justify-content: center;
		align-items: center;
}
-------------------------------Work it through in reverse ----------------
-------------------------------Rebuild if necessary----------------*/